
/*-----------------------
---Macbook Video Styles--
-------------------------*/

.macbook-frame {
    position:relative;
}

.macbook-screen{
    display:block;
    position:absolute;
    top:7%;
    left:12.04%;
    width:75.91%;
}

.padding-top-bottom {
padding: 100px 0;
}

.section-description {
  margin-bottom: 60px;
}

/*-----------------------*/

.copyright{
  color: gray;
  size: 12px;
}

